:root {
    --random: #ffffff;
    --default: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    line-height: 1.5;
}

.container {
    height: 50vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

body {
    margin: 100px 125px;
    color: var(--black);
    background-color: var(--random);
    --random: #ffffff;
    --default: #ffffff;
    --black: #121212;
}

body.dark-theme{
    --random: #121212;
    --default: #121212;
    --black: #ffffff;
    

}

.navbar {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: baseline;
    font-family: "montserrat";
}

.nav-branding {
    width: 120px;
}

.nav-branding img {
    height: auto;
    width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.nav-menu a {
    color: var(--black);
    font-size: 20px;
    font-weight: 400;
}

svg {
    fill: var(--black);
    user-select: none;
}

header ul img {
    width: 27px;
    height: auto;
}

.bar {
    display: block;
    width: 25px;
    margin: 5px auto 0px auto;
    padding-top: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: var(--black);
    border-radius: 50px;
}

.humb {
    display: none;
    cursor: pointer;
}

.cont-links {
    display: none;
}

section {
    display: grid;
    grid-template-columns: 1fr auto;
}

section footer,
.content {
    align-self: center;
    justify-self: center;
    text-align: center;
}

.pageclip-form button {
    background:
        linear-gradient(var(--random), var(--default)) padding-box,
        linear-gradient(83.2deg, rgb(164, 53, 255) 10.8%, rgba(99, 88, 238, 1) 94.3%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    padding: 10px 20px;
    font-family: "montserrat";
    font-weight: 500;
    color: var(--black);
    user-select: none;

}


.pageclip-form button:hover {
    background:
        /* linear-gradient(var(--random), var(--default)) padding-box, */
        linear-gradient(83.2deg, rgba(164, 53, 255, 1) 10.8%, rgba(99, 88, 238, 1) 94.3%) border-box;
    border-radius: 50em;
    color: var(--random);
}

.pageclip-form input {
    background:
        linear-gradient(var(--random), var(--default)) padding-box,
        linear-gradient(83.2deg, rgb(164, 53, 255) 10.8%, rgba(99, 88, 238, 1) 94.3%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    padding: 10px 20px 10px 20px;
    font-family: "montserrat";
    margin-bottom: 10px;
    color: var(--black);
    outline: none;
}

.pageclip-form {
    margin: 20px;
}



section h2 {
    font-family: "montserrat";
    font-weight: 500;
    font-size: 24px;
}


footer ul svg {
    width: 27px;
    margin: 10px 0;
    height: auto;

}

header ul svg {
    width: 27px;
    height: auto;
}




/* responsive */

@media(max-width: 960px) {

    .nav-branding {
        width: 100px;
    }


    .navbar {
        align-items: center;
    }

    .cont-links {
        display: flex;
    }

    section {
        align-self: center;
        justify-self: center;
    }

    body {
        margin: 100px 80px;
    }

    .humb,
    .humb-links {
        display: block;
        z-index: 10;

    }

    .humb.active .bar:nth-child(2) {
        opacity: 0;
    }

    .humb.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(0deg);
    }

    .humb.active .bar:nth-child(3) {
        /* transform: translateY(-12px) rotate(0deg); */
        opacity: 0;
    }

    .links {
        display: none;
    }

    .nav-menu {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.15);

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 40%;
        transition: 0.3s;
        backdrop-filter: blur(2px);
        z-index: 1;

    }

    .nav-item,
    .humb-links {
        padding: 5px 0;
        margin: 20px;

    }

    .nav-menu.active {
        right: 0;
        top: 0;

    }

}

@media(max-width: 480px) {

    .nav-menu { 
        width: 45%;
    }

    .nav-item,
    .humb-links {
        padding: 5px 0;
        margin: 10px;
    }

    .nav-menu a {
        font-size: 16px;
        font-weight: 400;
    }

    header ul svg {
        width: 20px;
    }

    section h2 {
        font-size: 19px;
    }

    body {
        margin: 20px 20px;
    }

    .nav-branding {
        width: 80px;
        height: 100%;
    }
}