* {
    background: black;
    margin: 0;
    padding: 20;
}

h1 {
    color: white;
}

p {
    color: tomato;
}

h1,
p {
    font-family: radnika;
}

@font-face {
    font-family: radnika;
    src: url(radnika.otf);
}


input[type=email]{
    border: solid 2px blue;
    padding: 10px;
    border-radius: 100px;
    margin: 30px 0px;
    color: gainsboro;
    opacity: 30%;
}



input[type=submit] {
    color: gainsboro;
    padding: 10px 30px;
    border: solid blue 2px;
    border-radius: 100px;
    cursor: pointer;
    opacity: 30%;
}



input[type=submit]:hover{
    color: black;
    padding: 10px 30px;
    border: solid blue 2px;
    border-radius: 100px;
    background: whitesmoke;
    opacity: 100%;
    
}

