<div class="wrapper">
                <h3>There's no blog post yet!
                    <br>
                    Subscribe to lazych.me to stay updated :)

                </h3>
                <form action="https://send.pageclip.co/QhZBmilHTVObQ07fe7oc1QfxGXGVSvTI" class="pageclip-form"
                    method="post">
                    <!-- Replace these inputs with your own. Make sure they have a "name" attribute! --> <input
                        type="email" name="email" placeholder="youremail@example.com" />

                        <button type="submit" class="pageclip-form__submit">Send</button>
                </form>

            </div><div class="wrapper">


</div>