<div class="h-[32rem] max-w-screen-lg m-4 lg:m-auto">
    <div class="h-full flex flex-col gap-10 justify-center text-center">
        <p class="content__home--heading">Hello! i'm Redouan, @lazych on the web. Front-end developer and UX/UI
            designer.</p>
        <p class="patterns">I help my clients to <span data-link="link1"
                class="bg-clip-text text-transparent bg-gradient-to-l from-gradientTo to-gradientFrom "><span
                    data-link="link2" class="font-semibold cursor-pointer" id="services">Ideate.</span> <span
                    data-link="link3" class="font-semibold cursor-pointer" id="services">Prototype.</span> <span
                    class="font-semibold cursor-pointer" id="services">Build.</span></span> seamless & User-friendly
            experiences.</p>

    </div>
</div>