<div class="h-[34rem] max-w-screen-lg m-4 lg:m-auto">
    <div class="h-full flex flex-col gap-5 justify-center text-center">
        <p>Hello! i'm Redouan, @lazych on the web. Front-end developer and UX/UI designer.</p>
        <p>I help my clients to <span class="bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"><span class="font-semibold cursor-pointer">Ideate.</span> <span class="font-semibold cursor-pointer">Prototype.</span> <span class="font-semibold cursor-pointer">Build.</span></span> seamless & User-friendly experiences.</p>
            
    </div>
</div>