<div class="bg-gridsColor rounded-b-3xl w-screen-lg lg:m-auto clip-path-mypolygon lg:clip-path-none">
    <div class="grid grid-rows-3 lg:grid-cols-3 lg:grid-rows-1 gap-5 pt-20 pb-10 lg:py-20 max-w-screen-lg m-4 lg:m-auto">
        <div class="bg-mainColor rounded-[2.5rem] p-8 flex flex-col justify-center lg:justify-start drop-shadow-md">
            <h3 class="font-semibold pb-6">Ideate</h3>
            <p>Thinking of product architecture, design system, tech stack, features..</p>
        </div>

        <div class="bg-mainColor rounded-[2.5rem] p-8 flex flex-col justify-center lg:justify-start drop-shadow-md">
            <h3 class="font-semibold pb-6">Prototype</h3>
            <p>Get your MVP ready and ship it to your early adopter users.</p>
        </div>

        <div class="bg-mainColor rounded-[2.5rem] p-8 flex flex-col justify-center lg:justify-start drop-shadow-md">
            <h3 class="font-semibold pb-6">Build & deploy</h3>
            <p>I make sure to improve your product and move it to the next level, then push the final version to the public.</p>
        </div>
    </div>
</div>