<footer class="mt-[6rem] max-w-screen-lg m-4 lg:mx-auto flex flex-col gap-16 items-center text-center">
        <div class="flex flex-col items-center gap-3">
                <h3 class="font-semibold">Find me on:</h3>
                <div class="flex gap-3">
                        <a href="https://twitter.com/lazycherrat" target="_blank"><img class="w-4"
                                        src="./images/twitter-icon.svg" alt=""></a>
                        <a href="https://www.linkedin.com/in/redouan-cherrat-b951b81bb/" target="_blank"><img
                                        class="w-4" src="./images/linkedin-icon.svg" alt=""></a>
                        <a href="https://github.com/lazych" target="_blank"><img class="w-4"
                                        src="./images/github-icon.svg" alt=""></a>
                </div>
        </div>

        <div class="flex flex-col gap-4">
                <a href="./about.html" class="">About</a>
                <a href="./blog.html" class="">Blog</a>
                <a href="./contact.html" class="">Contact</a>
        </div>

        <div class="flex gap-2 mb-2">
                <img class="w-3" src="./images/copyright-icon.svg" alt="">
                <p>lazych 2022</p>
        </div>
</footer>