<nav class="max-w-screen-lg m-4 lg:m-auto flex items-baseline justify-between">
    <div class="w-12 md:w-14">
            <a href="./index.html"><img src="./images/logo.svg" alt=""></a>
    </div>

    <div>
        <div>
            <ul class="lg:flex gap-5 lg:mt-10 lg:bg-transparent" id="menu-list">
                <li><a href="./about.html" class="nav-link">About</a></li>
                <li><a href="./blog.html" class="nav-link">Blog</a></li>
                <li><a href="./contact.html" class="nav-link">Contact</a></li>
            </ul>
            
            <button class="toggle-button w-5 cursor-pointer lg:hidden" aria-label="toggle">
                <span class="block bg-textColor h-0.5 mb-0.5 rounded-lg"></span>
                <span class="block bg-textColor h-0.5 mb-0.5 rounded-lg"></span>
                <span class="block bg-textColor h-0.5 rounded-lg"></span>
            </button>
        </div>
    </div>
    
</nav>



