<nav class="max-w-screen-lg m-4 lg:m-auto flex items-baseline justify-between" >
    <div class="w-12 md:w-14">
            <a href=""><img src="./images/logo.svg" alt=""></a>
    </div>

    <div class="">
        <div>
            <ul class="hidden lg:flex gap-5 mt-10">
                <li><a href="about.html" class="nav-link">About</a></li>
                <li><a href="blog.html" class="nav-link">Blog</a></li>
                <li><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
            
            <button class="w-5 cursor-pointer lg:hidden" aria-label="toggle">
                            <span class="block bg-white h-0.5 mb-0.5 rounded-lg"></span>
                            <span class="block bg-white h-0.5 mb-0.5 rounded-lg"></span>
                            <span class="block bg-white h-0.5 rounded-lg"></span>
            </button>
        </div>
    </div>
    
</nav>



