<nav class="max-w-screen-lg m-4 lg:m-auto flex items-baseline justify-between">
    <div class="w-12 md:w-14">
            <a href="./index.html"><img src="./images/logo.svg" alt=""></a>
    </div>

    <div>
        <div>
            <ul class="flex-col lg:flex lg:flex-row gap-5 lg:gap-7 pl-4 lg:pl-0 text-center lg:mt-10 bg-zinc-200 bg-opacity-5 backdrop-blur-[1.2px] lg:bg-transparent fixed lg:static top-0 lg:-top-0 bottom-0 lg:-bottom-0 z-10 lg:z-auto pt-[5rem] lg:pt-0 right-0 lg:-right-0 w-screen lg:w-full hidden" id="menu-list">
                <li><a href="./about.html" class="nav-link">About</a></li>
                <li><a href="./blog.html" class="nav-link">Blog</a></li>
                <li><a href="./contact.html" class="nav-link">Contact</a></li>
            </ul>
            
            <button class="toggle-button w-5 cursor-pointer relative lg:hidden z-20" aria-label="toggle">
                <span class="block bg-textColor h-0.5 mb-0.5 rounded-lg"></span>
                <span class="block bg-textColor h-0.5 mb-0.5 rounded-lg"></span>
                <span class="block bg-textColor h-0.5 rounded-lg"></span>
            </button>
        </div>
    </div>
    
</nav>



