<nav class="nav" >
    <div class="nav__left">
        <div class="personal-logo">
                <a href="https://lazych.me/"><svg xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/1999/xlink" viewBox="0 0 97 48.5" fill="#f0f0f0"><path id="Layer_2_2_" class="st0" d="M0,0h48.5v48.5H0V0z M97,48.5H48.5L97,11.2V48.5z"/></svg>
</a>
        </div>
    </div>

    <div class="nav__right">
        <div class="nav__right--pages">
            <ul id="links">
                <li><a href="about.html" class="nav-link">About</a></li>
                <li><a href="blog.html" class="nav-link">Blog</a></li>
                <li><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
            
            <button class="toggle-menu">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
            </button>
        </div>
    </div>
    
</nav>



