<nav class="nav">
    <div class="nav__left">
        <div class="personal-logo">
            <img src="/assets/images/logo.svg" alt="" width="80" height="80"></div>
    </div>

    <div class="nav__right">
        <div class="pages">
            <ul>
                <li><a href="">About</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Contact</a></li>
                <li class="dark-mode"><i class="ri-moon-fill"></i></li>
            </ul>
        </div>
    </div>
</nav>