.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1366px;
    padding: 50px;
    margin: 0 auto;
    height: 100vh;

    @media only screen and (max-width: $small) {
        padding: 20px;        
    }

}