.wrapper {

        %text  {
                text-align: center;
                font-weight: 300;
                
        }

        @include flex(center, center);
        flex-direction: column;
        height: 100%;

        p{
                @extend %text;
                line-height: rem(50);
        }

        h3, h4{
            @extend %text;
            margin: rem(40);
            span {
                    background: linear-gradient(83.2deg, rgb(164, 53, 255) 10.8%, rgba(99, 88, 238, 1) 94.3%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-weight: 500;
            }
        }

        .pageclip-form {

                margin: 20px;

                input, button {
                        @include input;
                }

                button {
                        cursor: pointer;
                }
                
        }
}