@function rem($value){
    $remValue: $value;

    @if(type-of($value) == number){
           $remValue: calc($value / 16) + rem; 
    }
    @return $remValue

}

$primary-font: Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
$primary-background: #f0f0f0;
$primary-color: #121212;
$primary-padding: rem(10);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: $primary-background;
}

body {
    font-family: $primary-font;
    background-color: $primary-color;
}

@mixin flex($justify, $align, $gap: 0, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}