@function rem($value){
    $remValue: $value;

    @if(type-of($value) == number){
           $remValue: calc($value / 16) + rem; 
    }
    @return $remValue

}

$primary-font: montserrat ,Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue;
$primary-color: #f0f0f0;
$primary-background: #121212;
$primary-padding: rem(10);
$maxMeduim: 768px;
$small: 450px;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: $primary-color;
}

body {
    font-family: $primary-font;
    background-color: $primary-background;
}


.bar {
    display: block;
    background: $primary-color;
    height: 2px;
    margin-bottom: 3px;
    border-radius: rem(50);
}

.bar:nth-child(3) {
    margin-bottom: 0;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }

}


@mixin flex($justify, $align, $gap: 0, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin input{
    background:
    linear-gradient(#121212, #121212) padding-box,
        linear-gradient(83.2deg, rgb(164, 53, 255) 10.8%, rgba(99, 88, 238, 1) 94.3%) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    padding: 10px 20px 10px 20px;
    font-family: "montserrat";
    margin-bottom: 10px;
    outline: none;
}