.nav {
    @include flex(space-between, baseline);



    &__left {

        img,
        svg {
            width: 80px;
            height: auto;

            @media only screen and (max-width: $small) {
                width: 55px;
                height: auto;
            }
        }
    }

    &__right {

        &--pages {



            #links {

                @media only screen and (max-width: $maxMeduim) {
                    background-color: rgba(105, 105, 105, 0.15);
                    backdrop-filter: blur(1.5px);
                    display: block;
                    position: fixed;
                    right: -100%;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    text-align: right;
                    padding-top: rem(60);
                    padding-right: 10px;

                    transition: 0.25s ease;
                }

                &.open {
                    @media only screen and (max-width: $maxMeduim) {
                        right: 0;
                    }

                    @media only screen and (min-width: $small) {
                        padding-top: rem(120);
                        padding-right: 40px;
                    }

                }
            }

            ul {
                @include flex(space-between, center, rem(40));

                li {
                    font-weight: 300;

                    @media only screen and (max-width: $maxMeduim) {
                        padding: 10px;
                    }
                }

                @media only screen and (max-width: $maxMeduim) {
                    display: none;
                }


            }


        }



        .toggle-button {
            background: none;
            border: none;
            width: rem(24);
            outline: none;
            cursor: pointer;
            display: none;
            position: relative;
            -webkit-tap-highlight-color: transparent;

            :nth-child(1) {
                transform: translateY(0px) rotate(0deg);
                transition: all 0.1s linear;
            }

            :nth-child(2) {
                opacity: 1;
                transition: all 0.1s linear;
            }


            :nth-child(3) {
                opacity: 1;
                transition: all 0.1s linear;
            }

            @media only screen and (max-width: $maxMeduim ) {
                display: block;

                &.active {
                    :nth-child(1) {
                        transform: translateY(4px) rotate(0deg);
                        transition: all 0.1s linear;
                    }

                    :nth-child(2) {
                        opacity: 0;
                    }


                    :nth-child(3) {
                        opacity: 0;
                    }
                }

            }


        }
    }
}